---
import '@fontsource/be-vietnam-pro';
import { ViewTransitions } from 'astro:transitions';
const { title, description } = Astro.props;;

---
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{title}</title>
    <meta name="description" content={description}>
    <ViewTransitions />
  </head>
  <body class='text-neutral-100 bg-neutral-900'>
    <main class='pt-10 pb-20'>
      <slot /> 
      <footer class='text-center text-neutral-400 text-sm pt-14'>
        <p>© 2024, Built with Astro</p>
        <a href="/" class='text-neutral-300 hover:text-neutral-400 transition-colors'>andjelko.dev</a>
      </footer>
    </main>
  </body>
</html>
