---
import '@fontsource/be-vietnam-pro';
import { ViewTransitions } from 'astro:transitions';

---
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Andjelko Cvjetkovic</title>
    <meta name="description" content="Frontend developer">
    <ViewTransitions />
  </head>
  <body class='text-neutral-100 bg-neutral-900'>
    <main class='pt-10 pb-20'>
      <slot /> 
    </main>
  </body>
</html>
