---
import Prose from '../components/prose.astro';
import '@fontsource/be-vietnam-pro';

---

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Andjelko Cvjetkovic</title>
    <meta name="description" content="Frontend developer">
  </head>
  <body class='container bg-gray-800 text-yellow-700'>
    <main class='pt-20 pb-16'>
      <Prose>
        <slot /> 
      </Prose>
    </main>
  </body>
</html>

